{{ 'component-custom-variant-picker.css' | asset_url | stylesheet_tag }}
<variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      <fieldset class="product-form__input custom-option-style">
        <legend class="form__label">{{ option.name }}</legend>
        <div class="custom-options-wrapper">
          {% for value in option.values %}
            {% assign variant = product.variants | where: 'title', value | first %}
            {% assign image = variant.featured_image | default: product.featured_image %}
  
            <label class="custom-option">
              <input
                type="radio"
                name="options[{{ option.name }}]"
                value="{{ value }}"
                {% if option.selected_value == value %}checked{% endif %}
                form="{{ product_form_id }}"
              >
              <div class="custom-option-image">
                <img src="{{ image | image_url: width: 120 }}" alt="{{ value }}">
              </div>
              <div class="custom-option-label">{{ value }}</div>
            </label>
          {% endfor %}
        </div>
      </fieldset>
    {%- endfor -%}
  
    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
  
  