{% assign progress_bar_color = settings.shipping_bar_color %}

<div class="upsell-container">
  {% assign shipping_value = settings.minimum_free_shipping | times: 100 %}
  {% assign cart_total = cart.total_price %}
  {% assign shipping_value_left = shipping_value | minus: cart_total %}
  {% assign shipping_percentage_fraction = cart_total | times: 100 | divided_by: shipping_value %}
  <p class="shipping-message">
    {% if shipping_value_left > 0 %}
      <span class="free_shipping_notice">{{ 'shipping_bar.before_number' | t }} {{ shipping_value_left | money }} {{ 'shipping_bar.after_number' | t }}</span> {{ 'exspress-delivery.svg' | inline_asset_content }}
    {% elsif  shipping_value_left <= 0 %}
      <span>{{ 'shipping_bar.free_delivery' | t }}</span> {{ 'exspress-delivery.svg' | inline_asset_content }}
    {% endif %}
  </p>

  <div class="progress-bar">
    <div class="progress-bar-done" data-progress="loading">
      <span class="progress-dot"></span>
    </div>
  </div>
</div>

<style>
  .upsell-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .progress-bar {
    background-color: #E2E4E3;
    display: flex;
    height: 4px;
    width: 100%;
    border-radius: 0.75em;
    position: relative;
    align-items: center;
  }
  
  .progress-bar-done {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: {{ progress_bar_color }};
    background-image: repeating-linear-gradient(
      to left,
      {{ progress_bar_color }},
      {{ progress_bar_color | color_lighten: 10 }},
      {{ progress_bar_color | color_lighten: 20 }}
    );
    box-shadow: 0 5px 5px -6px {{ progress_bar_color }};
    border-radius: 0.75em;
    height: 100%;
    transition: width 1s ease 0.3s;
    max-width: 100%;
    width: calc({{ shipping_percentage_fraction }}% - 28%);
  }
  
  .progress-dot {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: {{ progress_bar_color }};
    border-radius: 50%;
    transform: translateX(50%);
    z-index: 3;
  }
  

  .shipping-message {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 6px;
    padding: 30px 20px 20px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: var(--color-main-text);
    font-family: var(--font-heading-main);
  }
  
  .free-shipping-icon{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #E2E4E3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .progress-bar::before{
    content: ' ';
  }

  .shipping-message svg {
    flex-shrink: 0;
  }
</style>