{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'custom_swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch" data-index="variant-selectors">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>{{ option.selected_value }}</span>
          </legend>
      
          {%- for value in option.values -%}
            {%- assign input_id = 'Option-' | append: section.id | append: '-' | append: option.name | handleize | append: '-' | append: forloop.index0 -%}
      
            {%- assign matched_variant = null -%}
            {%- for variant in product.variants -%}
              {%- assign match = true -%}
              {%- for i in (1..product.options.size) -%}
                {%- assign opt = 'option' | append: i -%}
                {%- assign current_val = product.options_with_values[i-1].selected_value -%}
                {%- if i == option.position -%}
                  {%- assign current_val = value -%}
                {%- endif -%}
                {%- if variant[opt] != current_val -%}
                  {%- assign match = false -%}
                {%- endif -%}
              {%- endfor -%}
              {%- if match -%}
                {%- assign matched_variant = variant -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
      
            <input
              type="radio"
              id="{{ input_id }}"
              name="options[{{ option.name | escape }}]"
              value="{{ value | escape }}"
              form="{{ product_form_id }}"
              {% if option.selected_value == value %}checked{% endif %}
              data-index="option{{ option.position }}"
              onchange="this.form.dispatchEvent(new Event('change', { bubbles: true }))"
            >
      
            <label for="{{ input_id }}" class="custom-swatch-label">
              {% if matched_variant and matched_variant.metafields.custom.variant_img %}
                <img
                  src="{{ matched_variant.metafields.custom.variant_img | image_url: width: 100 }}"
                  alt="{{ value }}"
                  class="swatch-image"
                  width="50"
                  height="50"
                  loading="lazy"
                >
              {% else %}
                <div class="swatch-placeholder">?</div>
              {% endif %}
              <span class="swatch-text">{{ value }}</span>
              <span class="swatch-subtext">200 мл кожна</span>
            </label>
          {%- endfor -%}
        </fieldset>
      {%- elsif picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          <legend class="form__label">{{ option.name }}</legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}