<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{% assign cart_product_handles = cart.items | map: 'product' | map: 'handle' %}
{% assign product_handle_a = settings.product_handle_a %}
{% assign product_handle_b = settings.product_handle_b %}

{% if cart_product_handles contains product_handle_a %}
  {% assign upsell_handle = product_handle_b %}
{% elsif cart_product_handles contains product_handle_b %}
  {% assign upsell_handle = product_handle_a %}
{% else %}
  {% assign upsell_handle = null %}
{% endif %}

{% assign upsell_product = all_products[upsell_handle] %}

{% if settings.show_upsell_offer and upsell_product %}
  {% assign cart_contains_upsell = false %}
  {% for item in cart.items %}
    {% if item.product.handle == upsell_product.handle %}
      {% assign cart_contains_upsell = true %}
    {% endif %}
  {% endfor %}

  {% unless cart_contains_upsell %}
    <div class="drawer__upsell">
      <h3 class="drawer__upsell-heading">{{ settings.upsell_title }}</h3>

      <div class="drawer__upsell-card">
        <div class="drawer__upsell-image">
          <img
            src="{{ upsell_product.featured_image | image_url: width: 200 }}"
            alt="{{ upsell_product.title }}"
            loading="lazy"
          >
        </div>
        <div class="drawer__upsell-content">
          {%- if upsell_product.metafields.reviews.rating.value != blank -%}
            {% liquid
              assign rating_val = upsell_product.metafields.reviews.rating.value
              assign rating_decimal = 0
              assign decimal = rating_val.rating | modulo: 1
              if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
              endif
            %}
            <div class="drawer__upsell-rating rating-wrapper">
              <div
                class="rating"
                role="img"
                aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: rating_val, rating_max: rating_val.scale_max }}"
              >
                <span
                  aria-hidden="true"
                  class="rating-star"
                  style="--rating: {{ rating_val.rating | floor }}; --rating-max: {{ rating_val.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                ></span>
              </div>
              <p class="rating-count caption">
                <span aria-hidden="true">{{ upsell_product.metafields.reviews.rating_count }} reviews</span>
                <span class="visually-hidden">
                  {{ upsell_product.metafields.reviews.rating_count }}
                  {{ 'accessibility.total_reviews' | t }}
                </span>
              </p>
            </div>
          {%- endif -%}

          <div class="drawer__upsell-title">{{ upsell_product.title }}</div>
          {% if upsell_product.metafields.custom.cart_drawer_description.value != blank %}
            <div class="drawer__upsell-subtitle">
              {{ upsell_product.metafields.custom.cart_drawer_description.value }}
            </div>
          {% endif %}
          <div class="drawer__upsell-bottom">
            <div class="darwer__upsell-info">
              <div class="drawer__upsell-prices">
                {% assign variant = upsell_product.variants.first %}
                {% if variant.compare_at_price > variant.price %}
                  <span class="price--compare">{{ variant.compare_at_price | money }}</span>
                {% endif %}
                <span class="price--main">{{ variant.price | money }}</span>
              </div>
              <p class="drawer__upsell-variantDesr">{{ variant.metafields.custom.variant_description.value }}</p>
            </div>

            {% comment %} <product-form data-section-id="upsell-form" class="custom-product-form" data-appstle-ignore="true">
              {% form 'product',
                upsell_product,
                class: 'drawer-product-form appstle-ignore-in-drawer',
                data-type: 'upsell-form'
              %}
                <div data-appstle-ignore="true">
                  <input
                    type="hidden"
                    name="id"
                    value="{{ variant.id }}"
                    class="product-variant-id"
                    {% unless variant.available %}
                      disabled
                    {% endunless %}
                  >

                  <button
                    type="submit"
                    name="add"
                    class="drawer__upsell-button"
                    aria-live="polite"
                    {% unless variant.available %}
                      disabled
                    {% endunless %}
                  >
                    <span>
                      {% if variant.available %}
                        {{ settings.upsell_buy_button }}
                      {% else %}
                        {{ 'products.product.sold_out' | t }}
                      {% endif %}
                    </span>
                    <span class="sold-out-message hidden">
                      {{ 'products.product.sold_out' | t }}
                    </span>
                    {% render 'loading-spinner' %}
                  </button>
                </div>
              {% endform %}
            </product-form> {% endcomment %}
            <product-form data-hide-errors="true" class="custom-upsell-form">
              {% form 'product', upsell_product, class: 'custom-upsell-inner-form' %}
                <input type="hidden" name="id" value="{{ upsell_product.selected_or_first_available_variant.id }}">
                <input type="hidden" name="quantity" value="1">

                <button type="submit" class="button button--primary">
                  <span>{{ 'products.product.add_to_cart' | t }}</span>
                  <div class="loading__spinner hidden">
                    {% render 'loading-spinner' %}
                  </div>
                </button>
              {% endform %}
            </product-form>


          </div>
        </div>
      </div>
    </div>
  {% endunless %}
{% endif %}

<style>
  .drawer__upsell .appstle_subscription_widget,
  .drawer__upsell [id^="appstle_widget_"],
  .drawer__upsell .appstle-inline-widget,
  .drawer__upsell .appstle_block {
    display: none !important;
  }
  .drawer__upsell {
      flex: 1;
      margin-bottom: 20px;
    }

  .drawer__upsell-heading {
    font-weight: 700;
    font-family: var(--font-heading-main);
    font-size: 10px;
    line-height: 10px;
    color: #000;
    margin-bottom: 16px;
  }

  .drawer__upsell-card {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    border: 1px solid #D7D7D7;
    border-radius: 14px;
    padding: 14px;
  }

  .drawer__upsell-image img {
    width: 80px;
    height: auto;
    border-radius: 6px;
  }

  .drawer__upsell-content {
    flex: 1;
  }

  .drawer__upsell-rating {
    font-size: 12px;
    color: #555;
  }

  .drawer__upsell-title {
    font-weight: 700;
    font-family: var(--font-heading-main);
    font-size: 12px;
    line-height: 8px;
    color: var(--color-main-text);
    margin-bottom: 6px;
  }

  .drawer__upsell-subtitle {
    font-size: 8px;
    line-height: 8px;
    color: var(--color-main-text);
    margin-bottom: 12px;
    white-space: nowrap;
  }

  .drawer__upsell-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .drawer__upsell-prices {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 10px;
  }
  .drawer__upsell-variantDesr {
    color: #87878D;
    font-size: 8px;
    line-height: 12px;
  }

  .drawer__upsell-button {
    font-size: 14px;
    line-height: 12px;
    color: #fff;
    font-weight: 700;
    background-color: var(--color-main-text);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 80px;
    height: 48px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .price--compare {
    text-decoration: line-through;
    color: #aaa;
  }

  .price--main {
    font-weight: 600;
    color: #000;
  }

  .drawer__upsell .rating-count.caption {
    color: #87878D;
    font-size: 8px;
    line-height: 8px;
  }
</style>
