<section class="auto-delivery-section">
    <div class="auto-delivery-container">
      <div class="auto-delivery__header">
        {% if section.settings.section_title != blank %}
          <h2 class="auto-delivery__heading">{{ section.settings.section_title }}</h2>
        {% endif %}
      </div>
  
      <div class="auto-delivery-steps">
        {% for i in (1..3) %}
          {% capture icon_key %}step{{ i }}_icon{% endcapture %}
          {% capture title_key %}step{{ i }}_title{% endcapture %}
          {% capture text_key %}step{{ i }}_text{% endcapture %}
        
          {% assign icon = section.settings[icon_key] %}
          {% assign title = section.settings[title_key] %}
          {% assign text = section.settings[text_key] %}
        
          <div class="auto-delivery-step-card">
            {% if icon != blank %}
              <img class="auto-delivery-icon" src="{{ icon | img_url: '100x' }}" alt="Step {{ i }} Icon" />
            {% endif %}
            <h3 class="auto-delivery-step-title">
              {{ title }}
            </h3>
            <p class="auto-delivery-step-text">
              {{ text }}
            </p>
          </div>
        {% if i < 3 %}
          <span class="autodelivery-arrow">{{ 'arrow-right.svg' | inline_asset_content }}</span>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  
  <style>
  .auto-delivery-section {
    padding-top: 120px;
    background: #fff;
  }
  .auto-delivery-container {
    max-width: 1280px;
    margin: 0 auto;
  }
  .auto-delivery__header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding-right: 10px;
    padding-left: 50px;
    margin-bottom: 60px;
  }
  .auto-delivery__heading {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    line-height: 30px;
    color: var(--color-main-text);
    font-family: var(--font-heading-main);
  }
  .auto-delivery-steps {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    width: 100%;
  }
  .auto-delivery-step-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-main-text);
    max-width: 370px;
    padding: 40px 20px;
    border-radius: 20px;
    border-radius: 12px;
    height: auto;
  }
  .auto-delivery-icon {
    margin-bottom: 27px;
    width: 40px;
    height: 40px;
  }
  .auto-delivery-step-title {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    color: var(--color-main-text);
  }
  .auto-delivery-step-text {
    font-size: 16px;
    line-height: 22px;
    color: var(--color-main-text);
    text-align: center;
  }
  
  .autodelivery-arrow svg {
    width: 40px;
    height: 40px;
  }
  .autodelivery-arrow {
    align-self: center;
  }

  @media(max-width: 1300px) {
    .auto-delivery-container {
      padding: 0 10px;
    }
  }

  @media(max-width: 749px) {
    .auto-delivery-section {
      padding-bottom: 100px;
      padding-top: 60px;
    }
    .auto-delivery__header {
      padding: 0 10px;
      margin-bottom: 50px;
    }
    .auto-delivery__heading {
      font-size: 24px;
      line-height: 24px;
    }
    
  }

  @media(max-width: 480px) {
    .auto-delivery-step-card {
      max-width: 100%;
    }
  }
  
  @media(max-width: 989px) {
    .auto-delivery-steps {
      flex-direction: column;
      align-items: center;
      padding: 0 10px;
    }
    .autodelivery-arrow svg {
      transform: rotate(90deg);
    }
  }
  </style>
  
  {% schema %}
  {
    "name": "How It Works",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Заголовок секції",
        "default": "Як це працює?"
      },
      {
        "type": "header",
        "content": "Крок 1"
      },
      {
        "type": "image_picker",
        "id": "step1_icon",
        "label": "Іконка кроку 1"
      },
      {
        "type": "text",
        "id": "step1_title",
        "label": "Назва кроку 1",
        "default": "Крок 1"
      },
      {
        "type": "textarea",
        "id": "step1_text",
        "label": "Опис кроку 1",
        "default": "Оберіть продукти, на які хочете оформити підписку, та натисніть автодоставку"
      },
  
      {
        "type": "header",
        "content": "Крок 2"
      },
      {
        "type": "image_picker",
        "id": "step2_icon",
        "label": "Іконка кроку 2"
      },
      {
        "type": "text",
        "id": "step2_title",
        "label": "Назва кроку 2",
        "default": "Крок 2"
      },
      {
        "type": "textarea",
        "id": "step2_text",
        "label": "Опис кроку 2",
        "default": "Вкажіть зручний для себе інтервал доставки та кількість баночок"
      },
  
      {
        "type": "header",
        "content": "Крок 3"
      },
      {
        "type": "image_picker",
        "id": "step3_icon",
        "label": "Іконка кроку 3"
      },
      {
        "type": "text",
        "id": "step3_title",
        "label": "Назва кроку 3",
        "default": "Крок 3"
      },
      {
        "type": "textarea",
        "id": "step3_text",
        "label": "Опис кроку 3",
        "default": "Завершіть оформлення замовлення — та отримуйте знижку до 20% на кожну доставку!"
      }
    ],
    "presets": [
      {
        "name": "How It Works Section"
      }
    ]
  }
  {% endschema %}