<div class="custom-sci__wrapper">
  <div class="custom-sci__container">
    <div class="custom-sci__content">
      {% if section.settings.title != blank %}
        <h2 class="custom-sci__title">
          {{ section.settings.title }}
        </h2>
      {% endif %}
      <div class="custom-sci__text">
        {{ section.settings.text }}
      </div>
    </div>
    <div class="custom-sci__divider"> </div>
    <div class="custom-sci__images">
      {% if section.settings.image_top %}
        <div class="custom-sci__image custom-sci__image--top">
          <img src="{{ section.settings.image_top | image_url: width: 600 }}" alt="Science image top" loading="lazy">
        </div>
      {% endif %}
      {% if section.settings.image_middle %}
        <div class="custom-sci__image custom-sci__image--middle">
          <img src="{{ section.settings.image_middle | image_url: width: 600 }}" alt="Science image middle" loading="lazy">
        </div>
      {% endif %}
      {% if section.settings.image_bottom %}
        <div class="custom-sci__image custom-sci__image--bottom">
          <img src="{{ section.settings.image_bottom | image_url: width: 600 }}" alt="Science image bottom" loading="lazy">
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .custom-sci__container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: stretch;
  }

  .custom-sci__content {
    max-width: 720px;
    border-bottom: 1px solid #1F1F21;
    padding-bottom: 60px;
    padding-top: 80px;
  }

  .custom-sci__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #1F1F21;
    margin-bottom: 40px;
  }

  .custom-sci__text {
    font-size: 20px;
    line-height: 28px;
    color: #1F1F21;
  }

  .custom-sci__divider {
    width: 1px;
    background-color: #D7D7D7;
  }

  .custom-sci__images {
    display: flex;
    flex-direction: column;
    gap: 270px;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;
  }

  .custom-sci__image {
    max-width: 340px;
  }

  .custom-sci__image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    display: block;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

  @media (max-width: 749px) {
    .custom-sci__title {
      font-size: 20px;
      line-height: 26px;
    }

    .custom-sci__text {
      font-size: 16px;
      line-height: 22px;
    }

    .custom-sci__container {
      padding: 0 14px;
    }

    .custom-sci__image {
      max-width: 100%;
    }

    .custom-sci__content {
      padding-bottom: 0;
      border-bottom: none;
    }

    .custom-sci__images {
      padding-top: 30px;
    }
  }

  @media (max-width: 989px) {
    .custom-sci__container {
      flex-direction: column;
    }
  }

  @media (max-width: 1279px) {
    .custom-sci__divider {
      display: none;
    }

    .custom-sci__images {
      gap: 20px;
    }
  }
</style>

{% schema %}
{
  "name": "Custom Science Block",
  "tag": "section",
  "class": "custom-sci",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Заголовок",
      "default": "Новий формат добавок"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Опис",
      "default": "<p>Ваш текст тут...</p>"
    },
    {
      "type": "image_picker",
      "id": "image_top",
      "label": "Верхнє зображення"
    },
    {
      "type": "image_picker",
      "id": "image_middle",
      "label": "Середнє зображення"
    },
    {
      "type": "image_picker",
      "id": "image_bottom",
      "label": "Нижнє зображення"
    }
  ],
  "presets": [
    {
      "name": "Custom Science Block"
    }
  ]
}
{% endschema %}