<section class="custom-two-column-section {% if section.settings.image_position == 'left' %}reverse{% endif %}">
  <div class="custom-text-block" style="background-color: {{ section.settings.background_color }};">
      <div class="custom-text-content">
        <h2>{{ section.settings.heading }}</h2>

        <p class="custom-text__description_1" style="color: {{ section.settings.description_1_color }};">
          {{ section.settings.description_1 }}
        </p>

        <p class="custom-text__description_2" style="color: {{ section.settings.description_2_color }};">
          {{ section.settings.description_2 }}
        </p>

        {% comment %} <div class="custom-buttons">
          {% if section.settings.button_variant == 'primary' and section.settings.button_1_label != blank and section.settings.button_1_link != blank %}
            <a href="{{ section.settings.button_1_link }}" class="custom-button">
              {{ section.settings.button_1_label }}
            </a>
          {% elsif section.settings.button_variant == 'secondary' and section.settings.button_2_label != blank and section.settings.button_2_link != blank %}
            <a href="{{ section.settings.button_2_link }}" class="secondary plus-button" aria-label="{{ section.settings.button_2_label }}">
              {{ 'plus-icon.svg' | inline_asset_content }}
            </a>
          {% endif %}
        </div> {% endcomment %}
        {% if section.settings.button_variant == 'secondary' %}
          <div class="custom-expandable-text" id="expandable-text-{{ section.id }}" style="color: {{ section.settings.description_2_color }};">
            {{ section.settings.expandable_text }}
          </div>
        {% endif %}
        
        <div class="custom-buttons">
          {% if section.settings.button_variant == 'primary' %}
            <a href="{{ section.settings.button_1_link }}" class="custom-button">
              {{ section.settings.button_1_label }}
            </a>
          {% elsif section.settings.button_variant == 'secondary' %}
            <button type="button"
              class="secondary plus-button"
              id="plus-button-{{ section.id }}"
              aria-label="{{ section.settings.button_2_label }}"
              onclick="toggleExpandableText('{{ section.id }}')">
              
              <span class="plus-icon">
                {{ 'plus-icon.svg' | inline_asset_content }}
              </span>
              <span class="exit-icon" style="display: none;">
                {{ 'exit-button.svg' | inline_asset_content }}
              </span>
            </button>
          {% endif %}
        </div>   
    </div>
  </div>

  <div class="custom-image-block">
    <img src="{{ section.settings.image | img_url: '800x800' }}" alt="Image" />
  </div>
</section>

<script>
  function toggleExpandableText(sectionId) {
    const textEl = document.getElementById(`expandable-text-${sectionId}`);
    const button = document.getElementById(`plus-button-${sectionId}`);
    const plusIcon = button.querySelector('.plus-icon');
    const exitIcon = button.querySelector('.exit-icon');

    if (!textEl || !button) return;

    const isExpanded = textEl.classList.contains('expanded');

    if (isExpanded) {
      textEl.classList.remove('expanded');
      plusIcon.style.display = 'inline';
      exitIcon.style.display = 'none';
    } else {
      textEl.classList.add('expanded');
      plusIcon.style.display = 'none';
      exitIcon.style.display = 'inline';
    }
  }
</script>

<style>
  .custom-two-column-section {
    display: flex;
    flex-wrap: wrap;
  }

  .custom-two-column-section.reverse {
    flex-direction: row-reverse;
  }

  .custom-text-block,
  .custom-image-block {
    width: 50%;
  }

  .custom-text-block {
    padding: 80px 145px 80px 140px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .custom-text-content {
    display: flex;
    flex-direction: column;
    max-width: 432px;
    /* margin: 0 auto; */
  }

  .custom-text-content * {
    color: var(--color-main-text);
  }

  .custom-text__description_1 {
    margin: 50px 0 40px 0;
  }

  .custom-text__description_1 {
    margin: 50px 0 40px 0;
    font-size: 20px;
    line-height: 28px;
  }
  .custom-text__description_2 {
    font-size: 20px;
    line-height: 28px;
  }
  .custom-text-content h2 {
    font-family: var(--font-heading-main);
    font-size: 42px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
  }

  .custom-buttons {
    display: flex;
    gap: 12px;
    align-self: flex-end;
    margin-top: 50px;
  }

  .custom-button {
    display: inline-block;
    padding: 12px 24px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 20px;
    font-size: 14px;
    background-color: var(--color-main-text);
    color: #fff;
    text-decoration: none;
    width: fit-content;
    align-self: flex-end;
  }

  .custom-image-block {
    display: flex;
  }

  .custom-image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .custom-expandable-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  
  .custom-expandable-text.expanded {
    max-height: 800px;
  }
  
  
  .plus-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    {% comment %} transition: transform 0.3s ease; {% endcomment %}
  }
  
  {% comment %} .plus-icon,
  .exit-icon {
    transition: opacity 0.3s ease;
  } {% endcomment %}
  
  .plus-icon svg,
  .exit-icon svg {
    width: 24px;
    height: 24px;
    display: block;
  }

  @media (max-width: 749px) {
    .custom-two-column-section {
      flex-direction: column-reverse;
    }

    .custom-text-content p {
      font-size: 16px;
      line-height: 22px;
    }

    .custom-text-block,
    .custom-image-block {
      width: 100%;
      padding: 0;
    }
    .custom-text__description_1 {
      margin: 30px 0 30px 0;
    }

    .custom-text-content {
      padding: 30px 14px 40px;
    }

    .custom-container {
      padding: 0 14px;
    }

    .custom-text-content h2 {
      font-size: 24px;
      line-height: 24px;
    }

    .custom-buttons {
      align-self: center;
    }

    .custom-button {
      font-size: 12px;
      padding: 10px 18px;
    }

    .custom-image-block img {
      aspect-ratio: 1 / 1;
      height: auto;
      object-fit: cover;
    }

    .custom-expandable-text.expanded {
      max-height: 150px;
    }
  }
</style>
{% schema %}
{
  "name": "Two Column Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Текст"
    },
    {
      "type": "text",
      "id": "description_1",
      "label": "Description 1",
      "default": "Опис 1"
    },
    {
      "type": "color",
      "id": "description_1_color",
      "label": "Description 1 Color",
      "default": "#87878D"
    },
    {
      "type": "text",
      "id": "description_2",
      "label": "Description 2",
      "default": "Опис 2"
    },
    {
      "type": "color",
      "id": "description_2_color",
      "label": "Description 2 Color",
      "default": "#1F1F21"
    },
    {
      "type": "text",
      "id": "button_1_label",
      "label": "Primary Button Label",
      "default": "Детальніше"
    },
    {
      "type": "text",
      "id": "button_1_link",
      "label": "Primary Button Link",
      "default": "#"
    },
    {
      "type": "text",
      "id": "button_2_label",
      "label": "Secondary Button Label",
      "default": "Купити"
    },
    {
      "type": "text",
      "id": "button_2_link",
      "label": "Secondary Button Link",
      "default": "#"
    },
    {
      "type": "textarea",
      "id": "expandable_text",
      "label": "Expandable text"
    },
    {
      "type": "select",
      "id": "button_variant",
      "label": "Button to Show",
      "default": "primary",
      "options": [
        {
          "label": "Primary Button",
          "value": "primary"
        },
        {
          "label": "Secondary Button",
          "value": "secondary"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position",
      "default": "right",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Two Column Section",
      "category": "Image"
    }
  ]
}
{% endschema %}